<div class="col mb-4">
  <div class="card <%= retweet ? 'card-retweet' : 'card-tweet' %>">
    <div class="card-body">
      <div class="tweet-header">
        <img class="user-avatar" src="<%= tweet.user.pic_url %>" /> 
        <div class="tweet-header-left">
          <h5 class="card-title tweet-title">
            <%= tweet.user %>
          </h5><br>
          <small class="text-muted px-1"><%= fa_icon('heart', type: :solid) %> <%= tweet.like_count %></small>
          <small class="text-muted px-1"><%= fa_icon('share', type: :solid) %> <%= tweet.retweet_count %></small>
        </div>
        <% if signed_in? %>
          <% unless retweet %>
            <div class="tweet-button-group">
              <%= link_to tweet_like_path(tweet), method: :post, class: "px-2" do %>
                <%= tweet.liked?(current_user) ? fa_icon('heart', type: :solid) : fa_icon('heart', type: :regular) %>
              <% end %>
              <%= link_to tweet_retweet_path(tweet), method: :post, class: "px-2" do %>
                <%= fa_icon('share', type: :solid) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <p class="card-text"><%= tweet.content %></p>
      <p class="card-text">
        <small class="text-muted">
          <%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet_path(tweet) %>
        </small>
      </p>
      <% if tweet.original_tweet %>
        <%= render 'tweet_view', tweet: tweet.original_tweet, retweet: true %>
      <% end %>
    </div>
  </div>
</div>