<div class="col mb-4">
  <div class="card <%= retweet ? 'card-retweet' : 'card-tweet' %>">
    <div class="card-body">
      <div class="tweet-header">
        <img class="user-avatar" src="<%= tweet.user.pic_url %>" /> 
        <div class="tweet-header-left">
          <h5 class="card-title tweet-title">
            <%= tweet.user %>
          </h5><br>
          <small class="text-muted"><%= "Likes: #{tweet.like_count}" %></small> | 
          <small class="text-muted"><%= "Retweets: #{tweet.retweet_count}" %></small>
        </div>
        <div class="tweet-button-group">
          <%= link_to "#{tweet.liked?(current_user) ? 'unlike' : 'like'}", tweet_like_path(tweet), method: :post %> | 
          <%= link_to "retweet", tweet_retweet_path(tweet), method: :post %>
        </div>
      </div>
      <p class="card-text"><%= tweet.content %></p>
      <p class="card-text">
        <small class="text-muted">
          <%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet_path(tweet) %>
        </small>
      </p>
      <% if tweet.original_tweet %>
        <%= render 'tweet_view', tweet: tweet.original_tweet, retweet: true %>
      <% end %>
    </div>
  </div>
</div>