<% if signed_in? %>
  <div class="my-3">
    <%= render 'tweet_form', tweet: Tweet.new %>
  </div>
<% end %>
<h1 class="display-3 my-3">Tweets</h1>
<div class="row row-cols-1 row-cols-xl-2">
  <% @tweets.reverse_each do |t| %>
    <div class="col mb-4">
      <div class="card card-tweet">
        <div class="card-body">
          <h5 class="card-title">
            <img class="user-avatar" src="<%= t.user.pic_url %>" /> <%= t.user %>
            <div class="tweet-button-group">
              <%= link_to "#{t.liked?(current_user) ? 'unlike' : 'like'}", tweet_like_path(t), method: :post %> | 
              <%= link_to "retweet", tweet_like_path(t) %>
            </div>
          </h5>
          <p class="card-text"><%= t.content %></p>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(t.created_at) %> ago</small></p>
          <% if t.original_tweet %>
            <div class="card-retweet">
              <div class="card-body">
                <h5 class="card-title"><img class="user-avatar" src="<%= t.original_tweet.user.pic_url %>" /> <%= t.original_tweet.user %></h5>
                <p class="card-text"><%= t.original_tweet.content %></p>
                <p class="card-text"><small class="text-muted"><%= time_ago_in_words(t.original_tweet.created_at) %> ago</small></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>